@import "tailwindcss";

@plugin "@tailwindcss/forms";

* {
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-sans: system-ui, sans-serif;

  --animate-swing: swing 1s infinite ease-in-out alternate;
  --animate-marquee: marquee 25s linear infinite;
  --animate-fade-in: fadeIn 400ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-scale: scale 150ms cubic-bezier(0.4, 0, 0.2, 1);
  --animate-rise: rise 150ms cubic-bezier(0.4, 0, 0.2, 1);
  --animate-shake: shake 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

:root {
  --dot-background-color: #171717;
  --dot-color: #757478;
  --dot-size: 21px;
}

html,
body {
  @apply text-neutral-200;

  background:
    linear-gradient(
        90deg,
        var(--dot-background-color) var(--dot-size),
        transparent 1%
      )
      center,
    linear-gradient(var(--dot-background-color) var(--dot-size), transparent 1%)
      center,
    var(--dot-color);
  background-size: 22px 22px;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes swing {
  from {
    transform: rotate(3deg);
  }
  to {
    transform: rotate(-3deg);
  }
}

@keyframes scale {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes rise {
  from {
    transform: translate(0, 20%) scale(0.8);
  }
  to {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
